<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email Address<lib-required-icon></lib-required-icon></label>
    <input 
      type="email" 
      class="form-control" 
      id="email" 
      formControlName="email"
      placeholder="Email"
    >
    <div class="alert alert-danger" *ngIf="registerForm.controls['email'].errors?.shouldBeUnique">
      This Email Address is already in use.
    </div>
    <div *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors">
      <div class="alert alert-danger" *ngIf="registerForm.controls['email'].errors.required">
        Email Address is required.
      </div>
      <div class="alert alert-danger" *ngIf="registerForm.controls['email'].errors.pattern">
        Please enter a vaild Email Address.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password<lib-required-icon></lib-required-icon></label>
    <input 
      type="password" 
      class="form-control" 
      id="password" 
      placeholder="Password"
      formControlName="password"
    >
  <div *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors">
      <div class="alert alert-danger" *ngIf="registerForm.controls['password'].errors.required">
        Password is required.
      </div>
      <div class="alert alert-danger" *ngIf="registerForm.controls['password'].errors.pattern">
        Password must contain: Minimum 8 characters atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and 1 Special Character
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password<lib-required-icon></lib-required-icon></label>
    <input 
      type="password" 
      class="form-control" 
      id="confirmPassword" 
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    >
    <div *ngIf="registerForm.controls['confirmPassword'].touched">
      <div class="alert alert-danger" *ngIf="registerForm.controls['confirmPassword'].errors?.required">
        Confirm Password is required.
      </div>
      <div class="alert alert-danger" *ngIf="registerForm.errors?.passwordsShouldMatch">
        Passwords do not match.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
</form>

<modal #successModal>
    <modal-header>
        <h4 class="modal-title">Registration Successful</h4>
    </modal-header>
    <modal-body>
        Click Ok to Login
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="onSuccess()">Ok</button>
    </modal-footer>
</modal>

<modal #failModal>
    <modal-header>
        <h4 class="modal-title">Registration Failed</h4>
    </modal-header>
    <modal-body>
        This Email is already in use
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="failModal.close()">Ok</button>
    </modal-footer>
</modal>
