<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-group">
    <label for="email">Email Address<lib-required-icon></lib-required-icon></label>
    <input 
      type="email" 
      class="form-control" 
      id="email" 
      name="email"
      placeholder="Email"
      ngModel
      #email="ngModel"
      required
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
    >
    <div *ngIf="email.touched && email.errors">
      <div class="alert alert-danger" *ngIf="email.errors.required">
        Email Address is required.
      </div>
      <div class="alert alert-danger" *ngIf="email.errors.pattern">
        Please enter a vaild Email Address.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password<lib-required-icon></lib-required-icon></label>
    <input 
      type="password" 
      class="form-control" 
      id="password" 
      placeholder="Password"
      name="password"
      ngModel
      #password="ngModel"
      required
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"
    >
  <div *ngIf="password.touched && password.errors">
      <div class="alert alert-danger" *ngIf="password.errors.required">
        Password is required.
      </div>
      <div class="alert alert-danger" *ngIf="password.errors.pattern">
        Password must contain: Minimum 8 characters atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and 1 Special Character
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password<lib-required-icon></lib-required-icon></label>
    <input 
      type="password" 
      class="form-control" 
      id="confirmPassword" 
      placeholder="Confirm Password"
      name="confirmPassword"
      ngModel
      #confirmPassword="ngModel"
      required
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"
    >
    <div *ngIf="confirmPassword.touched && confirmPassword.errors">
      <div class="alert alert-danger" *ngIf="confirmPassword.errors.required">
        Confirm Password is required.
      </div>
      <div class="alert alert-danger" *ngIf="confirmPassword.errors.pattern">
        Password must contain: Minimum 8 characters atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and 1 Special Character
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
