<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email<lib-required-icon></lib-required-icon></label>
        <input 
            type="email" 
            formControlName="email" 
            id="email" 
            class="form-control" 
            placeholder="Email" 
        >
        <div class="alert alert-danger" *ngIf="changePasswordForm.controls['email'].touched && !changePasswordForm.controls['email'].valid"> 
          Old Password is required.
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change</button>
</form>

<modal #successModal>
    <modal-header>
        <h4 class="modal-title">Email Sent</h4>
    </modal-header>
    <modal-body>
        We sent you an email with instructions to change your password
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="onSuccess()">Ok</button>
    </modal-footer>
</modal>