<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="oldPassword">Old Password<lib-required-icon></lib-required-icon></label>
        <input 
            type="password" 
            formControlName="oldPassword" 
            id="oldPassword" 
            class="form-control" 
            placeholder="Old Password" 
        >
        <div class="alert alert-danger" *ngIf="changePasswordForm.controls['oldPassword'].touched && !changePasswordForm.controls['oldPassword'].valid"> 
          Old Password is required.
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password<lib-required-icon></lib-required-icon></label>
        <input 
            type="password" 
            formControlName="newPassword" 
            id="newPassword" 
            class="form-control" 
            placeholder="New Password"
        >
        <div *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors"> 
          <div class="alert alert-danger" *ngIf="changePasswordForm.controls['newPassword'].errors.required">
              Confirm Password is required.
          </div>
          <div class="alert alert-danger" *ngIf="changePasswordForm.controls['newPassword'].errors.pattern">
              Password must contain: Minimum 8 characters atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and 1 Special Character
          </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password<lib-required-icon></lib-required-icon></label>
        <input 
            type="password" 
            formControlName="confirmPassword" 
            id="confirmPassword" 
            class="form-control" 
            placeholder="Confirm Password" 
        >
        <div *ngIf="changePasswordForm.controls['confirmPassword'].touched">
            <div class="alert alert-danger" *ngIf="changePasswordForm.controls['confirmPassword'].errors?.required">
                Confirm Password is required.
            </div>
            <div class="alert alert-danger" *ngIf="changePasswordForm.errors?.passwordsShouldMatch">
                Passwords do not match.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change</button>
</form>

<modal #successModal>
    <modal-header>
        <h4 class="modal-title">Success</h4>
    </modal-header>
    <modal-body>
        Password Successfully Changed
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="onSuccess()">Ok</button>
    </modal-footer>
</modal>

<modal #failModal>
    <modal-header>
        <h4 class="modal-title">Password Change Failed</h4>
    </modal-header>
    <modal-body>
        Old Password is incorrect
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="failModal.close()">Ok</button>
    </modal-footer>
</modal>