<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="oldPassword">Old Password<lib-required-icon></lib-required-icon></label>
        <input 
            type="password" 
            formControlName="oldPassword" 
            id="oldPassword" 
            class="form-control" 
            placeholder="Old Password" 
            required
        >
        <div class="alert alert-danger" *ngIf="changePasswordForm.controls['oldPassword'].touched && !changePasswordForm.controls['oldPassword'].valid"> 
          Old Password is required.
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password<lib-required-icon></lib-required-icon></label>
        <input 
            type="password" 
            formControlName="newPassword" 
            id="newPassword" 
            class="form-control" 
            placeholder="New Password" 
            required
        >
        <div class="alert alert-danger" *ngIf="changePasswordForm.controls['newPassword'].touched && !changePasswordForm.controls['newPassword'].valid"> 
          New Password is required.
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password<lib-required-icon></lib-required-icon></label>
        <input 
            type="password" 
            formControlName="confirmPassword" 
            id="confirmPassword" 
            class="form-control" 
            placeholder="Confirm Password" 
            required
        >
        <div class="alert alert-danger" *ngIf="changePasswordForm.controls['confirmPassword'].touched && !changePasswordForm.controls['confirmPassword'].valid"> 
          Confirm Password is required.
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Save</button>
</form>