<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Date of Death</th>
        <th *ngIf="isAdmin">Edit</th>
        <th *ngIf="isAdmin">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <td><a [routerLink]=" ['/authors/details/', author.id] ">{{ author.firstName}} {{ author.lastName }}</a></td>
        <td>{{ author.birthdate | date }}</td>
        <td *ngIf="author.deathdate !== null">{{ author.deathdate | date }}</td>
        <td *ngIf="author.deathdate === null">Still Alive</td>
        <td *ngIf="isAdmin"><span class="glyphicon glyphicon-pencil" [routerLink]=" ['/authors/edit/', author.id] "></span></td>
        <td *ngIf="isAdmin"><span class="glyphicon glyphicon-remove" (click)="onDeleteClicked(author.id)"></span></td>
      </tr>
    </tbody>
  </table>
</div>